.DS_Store
.idea
.settings
.gradle
spring/build/
spring/src/main/gen/
spring/src/main/resources/public/dist/
node_modules/
npm-debug.log
yarn-error.log
spring/src/main/resources/config/application.yml
docker/docker-compose.yml
docker/mysql/docker-entrypoint-initdb.d/create_db.sql
